<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Home</title>
    <!-- bower:css -->
    <link rel="stylesheet" href="assets/libs/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="assets/libs/components-font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- bower:js -->
    <script src="assets/libs/jquery/dist/jquery.js"></script>
    <script src="assets/libs/angular/angular.js"></script>
    <script src="assets/libs/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->
    <link rel="stylesheet" href="assets/css/main.css"/>
    <script src="sudoku/app.js"></script>
    <script src="sudoku/sudoku.filter.js"></script>
    <script src="sudoku/sudoku.rest.service.js"></script>
    <script src="sudoku/sudoku.controller.js"></script>
</head>
<body>
    <header class="site-header">
        <h1>Sudokuz Game</h1>
    </header>
    <div id="wrapper" class="container" ng-app="sudoku">
        <div class="content" ng-controller="sudokuController">
            <div class="row">
                <button ng-click="createGame()"><i
                        class="icon-random"></i> New Game
                </button>
                <button ng-click="restart()"><i
                        class="icon-repeat"></i> Restart
                </button>
                <button ng-click="solve()"><i
                        class="icon-ok-sign"></i> Solve
                </button>
            </div>
            <div class="row">
                <div class="col-md-11 col-sm-11 col-xs-11">
                    <div ng-repeat="row in game track by $index" class="row">
                        <div ng-repeat="value in row track by $index | showNumber" class="col-md-1 col-sm-1 col-xs-1">
                            <input class="form-control"
                                   type="text" style="text-align:center;"
                                   value="value" ng-model="value"
                                   ng-maxlength="1" required>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>